@import 'spacings';

@media screen and (min-width: 1200px) {
    .container {
        width: 1140px;
    }

    .hero h1 {
        width: 650px;
        padding: $spacing-md $spacing-lg;
    }

    .our-creations .creations {
        grid-template-columns: repeat(4, 1fr);
    }

    .interactive .text {
        padding: $spacing-lg 0 0 $spacing-lg;
    }
}
