@import 'colors';
@import 'typography';
@import 'spacings';
@import 'base';
@import 'mixins';

@media screen and (min-width: 650px) {
    .our-creations .creations {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $container-spacing;
        margin-bottom: $spacing-md;

        article {
            height: 450px;
            margin-bottom: 0;
            background-size: cover;

            @include images('desktop');
        }
    }
}